
.Tile {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
    box-shadow: none;
    max-height: 24px;
    max-width: 24px;
}

.Tile > input {
    background-color: #626D71;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    height: 24px;
    width: 24px;    
}

.Mine {
  background-color: #FCFDFE !important;
  background-image: url('../../assets/images/mine.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center; 
}

.Flag {
  background-color: #FCFDFE !important;
  background-image: url('../../assets/images/flag.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center; 
}

.Unclicked {

}

.Clicked {

}
